* {
    font-family: 'Poppins', sans-serif;
}

#navbar-logo {
    height: 51px;
}
.nav-item:hover {
    font-weight: 600;
    border-bottom: 2px solid black;
}

@media only screen and (max-width: 480px){
        #navbar-logo {
            height: 51px;
        }
    }